nifi/process_groups/LoadOpenflightsData.json
{
    "flowContents": {
        "identifier": "e2167e7c-ae4e-34be-a336-4ef40195464c",
        "instanceIdentifier": "5da21ef1-0193-1000-d9aa-1629aaedc9cc",
        "name": "LoadOpenflightsData",
        "comments": "",
        "position": {
            "x": 912.0,
            "y": 224.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "2adc92dc-5ca4-348b-afca-495f0f8e0bd6",
                "instanceIdentifier": "5e2c50ec-0193-1000-58c5-e4a52a27610d",
                "name": "Convert: CSV -> JSON tree",
                "comments": "",
                "position": {
                    "x": 232.0,
                    "y": -688.0
                },
                "type": "org.apache.nifi.processors.standard.ConvertRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "record-writer": "1694f895-539d-331d-8dee-6ad5b87539dc",
                    "record-reader": "a6acd82d-7e98-358c-929e-3bcc623873ec",
                    "include-zero-record-flowfiles": "true"
                },
                "propertyDescriptors": {
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "include-zero-record-flowfiles": {
                        "name": "include-zero-record-flowfiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "9fa795cf-cb88-36e8-895a-5663f03cdddc",
                "instanceIdentifier": "5db498aa-0193-1000-78de-795fcf99105f",
                "name": "Fetch airlines.dat file content",
                "comments": "",
                "position": {
                    "x": 232.0,
                    "y": -912.0
                },
                "type": "org.apache.nifi.processors.standard.FetchFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Move Conflict Strategy": "Rename",
                    "Log level when file not found": "ERROR",
                    "Move Destination Directory": null,
                    "Log level when permission denied": "ERROR",
                    "File to Fetch": "/raw_data/${filename}",
                    "Completion Strategy": "None"
                },
                "propertyDescriptors": {
                    "Move Conflict Strategy": {
                        "name": "Move Conflict Strategy",
                        "displayName": "Move Conflict Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Log level when file not found": {
                        "name": "Log level when file not found",
                        "displayName": "Log level when file not found",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Move Destination Directory": {
                        "name": "Move Destination Directory",
                        "displayName": "Move Destination Directory",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Log level when permission denied": {
                        "name": "Log level when permission denied",
                        "displayName": "Log level when permission denied",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "File to Fetch": {
                        "name": "File to Fetch",
                        "displayName": "File to Fetch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Completion Strategy": {
                        "name": "Completion Strategy",
                        "displayName": "Completion Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure",
                    "permission.denied",
                    "not.found"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "57a8f76a-86d8-3c0f-9a1a-2e031fbdbc11",
                "instanceIdentifier": "5e93ee95-0193-1000-6c79-7f23b45f2cd1",
                "name": "RouteOnAttribute",
                "comments": "",
                "position": {
                    "x": 232.0,
                    "y": 192.0
                },
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Routing Strategy": "Route to 'match' if any matches",
                    "airlines": "${tablename:equals('airlines')}",
                    "airports": "${tablename:equals('airports')}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "name": "Routing Strategy",
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "airlines": {
                        "name": "airlines",
                        "displayName": "airlines",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "airports": {
                        "name": "airports",
                        "displayName": "airports",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "ca3309b3-6d38-3059-873a-999dd20ceded",
                "instanceIdentifier": "5da589db-0193-1000-1379-c16cb3085c7f",
                "name": "LogAttribute",
                "comments": "",
                "position": {
                    "x": -440.0,
                    "y": 800.0
                },
                "type": "org.apache.nifi.processors.standard.LogAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Log prefix": null,
                    "character-set": "UTF-8",
                    "Log FlowFile Properties": "true",
                    "Log Level": "error",
                    "attributes-to-ignore-regex": null,
                    "Attributes to Ignore": null,
                    "Attributes to Log": null,
                    "attributes-to-log-regex": ".*",
                    "Output Format": "Line per Attribute",
                    "Log Payload": "false"
                },
                "propertyDescriptors": {
                    "Log prefix": {
                        "name": "Log prefix",
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "character-set": {
                        "name": "character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Log FlowFile Properties": {
                        "name": "Log FlowFile Properties",
                        "displayName": "Log FlowFile Properties",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Log Level": {
                        "name": "Log Level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "attributes-to-ignore-regex": {
                        "name": "attributes-to-ignore-regex",
                        "displayName": "Attributes to Ignore by Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Ignore": {
                        "name": "Attributes to Ignore",
                        "displayName": "Attributes to Ignore",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Log": {
                        "name": "Attributes to Log",
                        "displayName": "Attributes to Log",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "attributes-to-log-regex": {
                        "name": "attributes-to-log-regex",
                        "displayName": "Attributes to Log by Regular Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Output Format": {
                        "name": "Output Format",
                        "displayName": "Output Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Log Payload": {
                        "name": "Log Payload",
                        "displayName": "Log Payload",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "8614aaa7-991b-36ce-a4b8-583c873edf21",
                "instanceIdentifier": "5e7dca20-0193-1000-3c31-9f92dc067f22",
                "name": "QueryRecord",
                "comments": "",
                "position": {
                    "x": 688.0,
                    "y": 512.0
                },
                "type": "org.apache.nifi.processors.standard.QueryRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "cache-schema": "true",
                    "dbf-default-precision": "10",
                    "good_ids": "SELECT * FROM FLOWFILE WHERE id > 0",
                    "record-writer": "1694f895-539d-331d-8dee-6ad5b87539dc",
                    "record-reader": "47acd387-ef9f-32aa-b773-1eccfc818c8d",
                    "include-zero-record-flowfiles": "true",
                    "dbf-default-scale": "0"
                },
                "propertyDescriptors": {
                    "cache-schema": {
                        "name": "cache-schema",
                        "displayName": "Cache Schema",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbf-default-precision": {
                        "name": "dbf-default-precision",
                        "displayName": "Default Decimal Precision",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "good_ids": {
                        "name": "good_ids",
                        "displayName": "good_ids",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "record-reader": {
                        "name": "record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "include-zero-record-flowfiles": {
                        "name": "include-zero-record-flowfiles",
                        "displayName": "Include Zero Record FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbf-default-scale": {
                        "name": "dbf-default-scale",
                        "displayName": "Default Decimal Scale",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "50eed8e4-931d-3679-8c59-69c7ec235fa9",
                "instanceIdentifier": "5e5f4bd6-0193-1000-fe31-7d838429d504",
                "name": "Add Attribute: tablename",
                "comments": "",
                "position": {
                    "x": 232.0,
                    "y": -496.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "Store State": "Do not store state",
                    "canonical-value-lookup-cache-size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "canonical-value-lookup-cache-size": {
                        "name": "canonical-value-lookup-cache-size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "annotationData": "<criteria>\n    <flowFilePolicy>USE_CLONE</flowFilePolicy>\n    <rules>\n        <actions>\n            <attribute>tablename</attribute>\n            <id>2239e39a-d3c0-4352-852f-addb16d382bd</id>\n            <value>airlines</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${filename:contains('airlines.dat')}</expression>\n            <id>2afdf99f-9535-46f8-b182-906ff544d7bb</id>\n        </conditions>\n        <id>bf26fb9d-66cc-4519-8c78-61fe26f06932</id>\n        <name>Airlines</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>tablename</attribute>\n            <id>2239e39a-d3c0-4352-852f-addb16d382bd</id>\n            <value>airports</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${filename:contains('airports.dat')}</expression>\n            <id>2afdf99f-9535-46f8-b182-906ff544d7bb</id>\n        </conditions>\n        <id>f0ef0d22-9c58-46bc-8580-b59432430271</id>\n        <name>Airports</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>tablename</attribute>\n            <id>2239e39a-d3c0-4352-852f-addb16d382bd</id>\n            <value>countries</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${filename:contains('countries.dat')}</expression>\n            <id>2afdf99f-9535-46f8-b182-906ff544d7bb</id>\n        </conditions>\n        <id>7a8fc2fc-b0ee-4399-b0d0-8b143b54f000</id>\n        <name>Countries</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>tablename</attribute>\n            <id>2239e39a-d3c0-4352-852f-addb16d382bd</id>\n            <value>planes</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${filename:contains('planes.dat')}</expression>\n            <id>2afdf99f-9535-46f8-b182-906ff544d7bb</id>\n        </conditions>\n        <id>d665ca8c-21c5-4d6a-8175-ca7af45726be</id>\n        <name>Planes</name>\n    </rules>\n    <rules>\n        <actions>\n            <attribute>tablename</attribute>\n            <id>2239e39a-d3c0-4352-852f-addb16d382bd</id>\n            <value>routes</value>\n        </actions>\n        <comments></comments>\n        <conditions>\n            <expression>${filename:contains('routes.dat')}</expression>\n            <id>2afdf99f-9535-46f8-b182-906ff544d7bb</id>\n        </conditions>\n        <id>6e9a4d1a-dbc3-4ac4-acb7-2cb35f6b47c3</id>\n        <name>Routes</name>\n    </rules>\n</criteria>",
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "49b06c8d-7967-3bb9-a98a-4fcf02a50829",
                "instanceIdentifier": "0193102b-ee95-1e93-0569-8fe861580d8a",
                "name": "Fix: callsign",
                "comments": "",
                "position": {
                    "x": 1424.0,
                    "y": 216.0
                },
                "type": "org.apache.nifi.processors.script.ExecuteScript",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-scripting-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Script File": null,
                    "Script Engine": "python",
                    "Script Body": "import re\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.commons.io import IOUtils\nimport json\n\nclass ModifyFlowFile(StreamCallback):\n    def process(self, inputStream, outputStream):\n        # Read the input JSON\n        input_json = IOUtils.toString(inputStream, 'UTF-8')\n        data = json.loads(input_json)\n        \n        # Generate callsign for each record\n        for record in data:\n            if record.get(\"name\"):\n                # Lowercase and concatenate the words from the \"name\" field\n                name = record.get(\"name\", \"\")\n                record[\"callsign\"] = \"\".join(re.findall(r'\\w+', name.lower()))\n        \n        # Write the updated JSON back\n        outputStream.write(json.dumps(data).encode('UTF-8'))\n\nflowFile = session.get()\nif flowFile is not None:\n    flowFile = session.write(flowFile, ModifyFlowFile())\n    session.transfer(flowFile, REL_SUCCESS)",
                    "Module Directory": null
                },
                "propertyDescriptors": {
                    "Script File": {
                        "name": "Script File",
                        "displayName": "Script File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Script Engine": {
                        "name": "Script Engine",
                        "displayName": "Script Engine",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Body": {
                        "name": "Script Body",
                        "displayName": "Script Body",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Module Directory": {
                        "name": "Module Directory",
                        "displayName": "Module Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "DIRECTORY",
                                "FILE"
                            ]
                        }
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "fd18f267-d27b-3bd0-a615-a2d2319b018c",
                "instanceIdentifier": "01931023-ee95-1e93-be15-a2fbbce005ec",
                "name": "Fix: iata",
                "comments": "",
                "position": {
                    "x": 1424.0,
                    "y": -32.0
                },
                "type": "org.apache.nifi.processors.script.ExecuteScript",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-scripting-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Script File": null,
                    "Script Engine": "python",
                    "Script Body": "import re\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.commons.io import IOUtils\nimport json\n\nclass ModifyFlowFile(StreamCallback):\n    def process(self, inputStream, outputStream):\n        # Read the input JSON\n        input_json = IOUtils.toString(inputStream, 'UTF-8')\n        data = json.loads(input_json)\n        \n        # Generate IATA codes for missing entries\n        for record in data:\n            if not record.get(\"iata\"):\n                # Extract first letters of each word in the \"name\" field\n                name = record.get(\"name\", \"\")\n                record[\"iata\"] = \"\".join([word[0].upper() for word in re.findall(r'\\w+', name)])[:3]\n        \n        # Write the updated JSON back\n        outputStream.write(json.dumps(data).encode('UTF-8'))\n\nflowFile = session.get()\nif flowFile is not None:\n    flowFile = session.write(flowFile, ModifyFlowFile())\n    session.transfer(flowFile, REL_SUCCESS)\n",
                    "Module Directory": null
                },
                "propertyDescriptors": {
                    "Script File": {
                        "name": "Script File",
                        "displayName": "Script File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Script Engine": {
                        "name": "Script Engine",
                        "displayName": "Script Engine",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Body": {
                        "name": "Script Body",
                        "displayName": "Script Body",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Module Directory": {
                        "name": "Module Directory",
                        "displayName": "Module Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "DIRECTORY",
                                "FILE"
                            ]
                        }
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "9277f3b7-3776-3a9b-af1a-a1a83cd5aee7",
                "instanceIdentifier": "c161df51-1e84-3f0f-533d-87c5aa96d6fd",
                "name": "Insert airlines data",
                "comments": "",
                "position": {
                    "x": 216.0,
                    "y": 808.0
                },
                "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "put-db-record-allow-multiple-statements": "false",
                    "table-schema-cache-size": "100",
                    "put-db-record-schema-name": null,
                    "put-db-record-field-containing-sql": null,
                    "put-db-record-quoted-table-identifiers": "false",
                    "Statement Type Record Path": null,
                    "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
                    "put-db-record-catalog-name": null,
                    "put-db-record-translate-field-names": "true",
                    "put-db-record-dcbp-service": "b9f2d7d3-8438-3bfc-a7ca-24569c5dd675",
                    "put-db-record-query-timeout": "10 seconds",
                    "rollback-on-failure": "false",
                    "put-db-record-statement-type": "INSERT",
                    "put-db-record-binary-format": "UTF-8",
                    "db-type": "MySQL",
                    "put-db-record-update-keys": null,
                    "put-db-record-quoted-identifiers": "false",
                    "put-db-record-table-name": "${tablename}",
                    "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
                    "put-db-record-max-batch-size": "1000",
                    "put-db-record-record-reader": "47acd387-ef9f-32aa-b773-1eccfc818c8d",
                    "Data Record Path": null,
                    "database-session-autocommit": "false"
                },
                "propertyDescriptors": {
                    "put-db-record-allow-multiple-statements": {
                        "name": "put-db-record-allow-multiple-statements",
                        "displayName": "Allow Multiple SQL Statements",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "table-schema-cache-size": {
                        "name": "table-schema-cache-size",
                        "displayName": "Table Schema Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-schema-name": {
                        "name": "put-db-record-schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-field-containing-sql": {
                        "name": "put-db-record-field-containing-sql",
                        "displayName": "Field Containing SQL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-quoted-table-identifiers": {
                        "name": "put-db-record-quoted-table-identifiers",
                        "displayName": "Quote Table Identifiers",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Statement Type Record Path": {
                        "name": "Statement Type Record Path",
                        "displayName": "Statement Type Record Path",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-unmatched-column-behavior": {
                        "name": "put-db-record-unmatched-column-behavior",
                        "displayName": "Unmatched Column Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-catalog-name": {
                        "name": "put-db-record-catalog-name",
                        "displayName": "Catalog Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-translate-field-names": {
                        "name": "put-db-record-translate-field-names",
                        "displayName": "Translate Field Names",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-dcbp-service": {
                        "name": "put-db-record-dcbp-service",
                        "displayName": "Database Connection Pooling Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "put-db-record-query-timeout": {
                        "name": "put-db-record-query-timeout",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "rollback-on-failure": {
                        "name": "rollback-on-failure",
                        "displayName": "Rollback On Failure",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-statement-type": {
                        "name": "put-db-record-statement-type",
                        "displayName": "Statement Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-binary-format": {
                        "name": "put-db-record-binary-format",
                        "displayName": "Binary String Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "db-type": {
                        "name": "db-type",
                        "displayName": "Database Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-update-keys": {
                        "name": "put-db-record-update-keys",
                        "displayName": "Update Keys",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-quoted-identifiers": {
                        "name": "put-db-record-quoted-identifiers",
                        "displayName": "Quote Column Identifiers",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-table-name": {
                        "name": "put-db-record-table-name",
                        "displayName": "Table Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-unmatched-field-behavior": {
                        "name": "put-db-record-unmatched-field-behavior",
                        "displayName": "Unmatched Field Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-max-batch-size": {
                        "name": "put-db-record-max-batch-size",
                        "displayName": "Maximum Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "put-db-record-record-reader": {
                        "name": "put-db-record-record-reader",
                        "displayName": "Record Reader",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Data Record Path": {
                        "name": "Data Record Path",
                        "displayName": "Data Record Path",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "database-session-autocommit": {
                        "name": "database-session-autocommit",
                        "displayName": "Database Session AutoCommit",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "ERROR",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success",
                    "retry"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "d1e7eece-1982-3dcd-b1a3-2844ba2bbffd",
                "instanceIdentifier": "9a967a12-dabd-3a01-82be-e74df1271e34",
                "name": "List airline.dat file",
                "comments": "",
                "position": {
                    "x": 232.0,
                    "y": -1128.0
                },
                "type": "org.apache.nifi.processors.standard.ListFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Minimum File Age": "0 sec",
                    "et-initial-listing-target": "all",
                    "Maximum File Age": null,
                    "max-listing-time": "3 mins",
                    "record-writer": null,
                    "Maximum File Size": null,
                    "et-time-window": "1 sec",
                    "et-node-identifier": "${hostname()}",
                    "Recurse Subdirectories": "true",
                    "File Filter": ".*.dat$",
                    "Path Filter": null,
                    "Include File Attributes": "true",
                    "Input Directory Location": "Local",
                    "listing-strategy": "timestamps",
                    "Input Directory": "/raw_data",
                    "target-system-timestamp-precision": "auto-detect",
                    "track-performance": "false",
                    "max-performance-metrics": "100000",
                    "Minimum File Size": "0 B",
                    "Ignore Hidden Files": "true",
                    "et-state-cache": null,
                    "max-operation-time": "10 secs"
                },
                "propertyDescriptors": {
                    "Minimum File Age": {
                        "name": "Minimum File Age",
                        "displayName": "Minimum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "et-initial-listing-target": {
                        "name": "et-initial-listing-target",
                        "displayName": "Entity Tracking Initial Listing Target",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum File Age": {
                        "name": "Maximum File Age",
                        "displayName": "Maximum File Age",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-listing-time": {
                        "name": "max-listing-time",
                        "displayName": "Max Directory Listing Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "record-writer": {
                        "name": "record-writer",
                        "displayName": "Record Writer",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Maximum File Size": {
                        "name": "Maximum File Size",
                        "displayName": "Maximum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "et-time-window": {
                        "name": "et-time-window",
                        "displayName": "Entity Tracking Time Window",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "et-node-identifier": {
                        "name": "et-node-identifier",
                        "displayName": "Entity Tracking Node Identifier",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Recurse Subdirectories": {
                        "name": "Recurse Subdirectories",
                        "displayName": "Recurse Subdirectories",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "File Filter": {
                        "name": "File Filter",
                        "displayName": "File Filter",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Path Filter": {
                        "name": "Path Filter",
                        "displayName": "Path Filter",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include File Attributes": {
                        "name": "Include File Attributes",
                        "displayName": "Include File Attributes",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Input Directory Location": {
                        "name": "Input Directory Location",
                        "displayName": "Input Directory Location",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "listing-strategy": {
                        "name": "listing-strategy",
                        "displayName": "Listing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Input Directory": {
                        "name": "Input Directory",
                        "displayName": "Input Directory",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "target-system-timestamp-precision": {
                        "name": "target-system-timestamp-precision",
                        "displayName": "Target System Timestamp Precision",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "track-performance": {
                        "name": "track-performance",
                        "displayName": "Track Performance",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-performance-metrics": {
                        "name": "max-performance-metrics",
                        "displayName": "Maximum Number of Files to Track",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Minimum File Size": {
                        "name": "Minimum File Size",
                        "displayName": "Minimum File Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Ignore Hidden Files": {
                        "name": "Ignore Hidden Files",
                        "displayName": "Ignore Hidden Files",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "et-state-cache": {
                        "name": "et-state-cache",
                        "displayName": "Entity Tracking State Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "max-operation-time": {
                        "name": "max-operation-time",
                        "displayName": "Max Disk Operation Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "1 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "0 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "c45aa4ad-32ed-3156-b27b-1e33c82ac38d",
                "instanceIdentifier": "01931000-ee95-1e93-685c-50dfe661bcab",
                "name": "Route: Airlines",
                "comments": "",
                "position": {
                    "x": 240.0,
                    "y": -232.0
                },
                "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Routing Strategy": "Route to 'match' if all match",
                    "airlines": "${tablename:equals('airlines')}"
                },
                "propertyDescriptors": {
                    "Routing Strategy": {
                        "name": "Routing Strategy",
                        "displayName": "Routing Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "airlines": {
                        "name": "airlines",
                        "displayName": "airlines",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "9eaf2b3c-f04b-3108-8080-757b5a6cff8c",
                "instanceIdentifier": "0193103e-ee95-1e93-ecf8-0755d2ecb6d4",
                "name": "Fix: alias",
                "comments": "",
                "position": {
                    "x": 1424.0,
                    "y": -264.0
                },
                "type": "org.apache.nifi.processors.script.ExecuteScript",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-scripting-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Script File": null,
                    "Script Engine": "python",
                    "Script Body": "import re\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom org.apache.commons.io import IOUtils\nimport json\n\nclass ModifyFlowFile(StreamCallback):\n    def process(self, inputStream, outputStream):\n        # Read the input JSON\n        input_json = IOUtils.toString(inputStream, 'UTF-8')\n        data = json.loads(input_json)\n        \n        # Set alias for each record\n        for record in data:\n            if record.get(\"name\"):\n                # Lowercase and concatenate the words from the \"name\" field\n                name = record.get(\"name\", \"\")\n                record[\"alias\"] = \"\".join(re.findall(r'\\w+', name.lower()))\n        \n        # Write the updated JSON back\n        outputStream.write(json.dumps(data).encode('UTF-8'))\n\nflowFile = session.get()\nif flowFile is not None:\n    flowFile = session.write(flowFile, ModifyFlowFile())\n    session.transfer(flowFile, REL_SUCCESS)\n",
                    "Module Directory": null
                },
                "propertyDescriptors": {
                    "Script File": {
                        "name": "Script File",
                        "displayName": "Script File",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "SINGLE",
                            "resourceTypes": [
                                "FILE"
                            ]
                        }
                    },
                    "Script Engine": {
                        "name": "Script Engine",
                        "displayName": "Script Engine",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Script Body": {
                        "name": "Script Body",
                        "displayName": "Script Body",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Module Directory": {
                        "name": "Module Directory",
                        "displayName": "Module Directory",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "DIRECTORY",
                                "FILE"
                            ]
                        }
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "fe8384df-14c0-3472-acb2-559c20adb196",
                "instanceIdentifier": "5e8e2f4e-0193-1000-7910-ee28830b98a1",
                "name": "",
                "source": {
                    "id": "8614aaa7-991b-36ce-a4b8-583c873edf21",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "QueryRecord",
                    "comments": "",
                    "instanceIdentifier": "5e7dca20-0193-1000-3c31-9f92dc067f22"
                },
                "destination": {
                    "id": "9277f3b7-3776-3a9b-af1a-a1a83cd5aee7",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Insert airlines data",
                    "comments": "",
                    "instanceIdentifier": "c161df51-1e84-3f0f-533d-87c5aa96d6fd"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "good_ids"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "0a185a15-300a-39a0-a43a-0d9e0fdaca6a",
                "instanceIdentifier": "5e2c6427-0193-1000-020c-e229b50d9a34",
                "name": "",
                "source": {
                    "id": "9fa795cf-cb88-36e8-895a-5663f03cdddc",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Fetch airlines.dat file content",
                    "comments": "",
                    "instanceIdentifier": "5db498aa-0193-1000-78de-795fcf99105f"
                },
                "destination": {
                    "id": "2adc92dc-5ca4-348b-afca-495f0f8e0bd6",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Convert: CSV -> JSON tree",
                    "comments": "",
                    "instanceIdentifier": "5e2c50ec-0193-1000-58c5-e4a52a27610d"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "246b2021-3add-3f02-a781-35b914005282",
                "instanceIdentifier": "01931040-ee95-1e93-2f73-89204a6993c8",
                "name": "",
                "source": {
                    "id": "9eaf2b3c-f04b-3108-8080-757b5a6cff8c",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Fix: alias",
                    "comments": "",
                    "instanceIdentifier": "0193103e-ee95-1e93-ecf8-0755d2ecb6d4"
                },
                "destination": {
                    "id": "fd18f267-d27b-3bd0-a615-a2d2319b018c",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Fix: iata",
                    "comments": "",
                    "instanceIdentifier": "01931023-ee95-1e93-be15-a2fbbce005ec"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "a3288246-be74-3238-8168-3a862d34433d",
                "instanceIdentifier": "5e96f90f-0193-1000-1f03-14d9c565f026",
                "name": "",
                "source": {
                    "id": "57a8f76a-86d8-3c0f-9a1a-2e031fbdbc11",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "RouteOnAttribute",
                    "comments": "",
                    "instanceIdentifier": "5e93ee95-0193-1000-6c79-7f23b45f2cd1"
                },
                "destination": {
                    "id": "8614aaa7-991b-36ce-a4b8-583c873edf21",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "QueryRecord",
                    "comments": "",
                    "instanceIdentifier": "5e7dca20-0193-1000-3c31-9f92dc067f22"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "6070e46c-c79b-38ee-94d5-8b13ae147abb",
                "instanceIdentifier": "5e5f90e1-0193-1000-4be3-e24524f52a22",
                "name": "",
                "source": {
                    "id": "2adc92dc-5ca4-348b-afca-495f0f8e0bd6",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Convert: CSV -> JSON tree",
                    "comments": "",
                    "instanceIdentifier": "5e2c50ec-0193-1000-58c5-e4a52a27610d"
                },
                "destination": {
                    "id": "50eed8e4-931d-3679-8c59-69c7ec235fa9",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Add Attribute: tablename",
                    "comments": "",
                    "instanceIdentifier": "5e5f4bd6-0193-1000-fe31-7d838429d504"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "43bc98de-7643-3f32-ad35-e23e923fabd7",
                "instanceIdentifier": "0193102e-ee95-1e93-f941-d81f8e10047a",
                "name": "",
                "source": {
                    "id": "49b06c8d-7967-3bb9-a98a-4fcf02a50829",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Fix: callsign",
                    "comments": "",
                    "instanceIdentifier": "0193102b-ee95-1e93-0569-8fe861580d8a"
                },
                "destination": {
                    "id": "57a8f76a-86d8-3c0f-9a1a-2e031fbdbc11",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "RouteOnAttribute",
                    "comments": "",
                    "instanceIdentifier": "5e93ee95-0193-1000-6c79-7f23b45f2cd1"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "bee784f2-b171-32da-bd3f-36e63aa629e8",
                "instanceIdentifier": "0193103f-ee95-1e93-d580-8795ad81ba2c",
                "name": "",
                "source": {
                    "id": "c45aa4ad-32ed-3156-b27b-1e33c82ac38d",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Route: Airlines",
                    "comments": "",
                    "instanceIdentifier": "01931000-ee95-1e93-685c-50dfe661bcab"
                },
                "destination": {
                    "id": "9eaf2b3c-f04b-3108-8080-757b5a6cff8c",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Fix: alias",
                    "comments": "",
                    "instanceIdentifier": "0193103e-ee95-1e93-ecf8-0755d2ecb6d4"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "ea3d0b3e-625f-37fe-b7db-8bc799ae8e49",
                "instanceIdentifier": "5e970ae6-0193-1000-2ce4-dd6c5855b878",
                "name": "",
                "source": {
                    "id": "57a8f76a-86d8-3c0f-9a1a-2e031fbdbc11",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "RouteOnAttribute",
                    "comments": "",
                    "instanceIdentifier": "5e93ee95-0193-1000-6c79-7f23b45f2cd1"
                },
                "destination": {
                    "id": "9277f3b7-3776-3a9b-af1a-a1a83cd5aee7",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Insert airlines data",
                    "comments": "",
                    "instanceIdentifier": "c161df51-1e84-3f0f-533d-87c5aa96d6fd"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "unmatched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "6dc5e149-8db3-3901-9db5-1c503ac37eea",
                "instanceIdentifier": "5da5acc3-0193-1000-3b9e-b5342410d825",
                "name": "",
                "source": {
                    "id": "9277f3b7-3776-3a9b-af1a-a1a83cd5aee7",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Insert airlines data",
                    "comments": "",
                    "instanceIdentifier": "c161df51-1e84-3f0f-533d-87c5aa96d6fd"
                },
                "destination": {
                    "id": "ca3309b3-6d38-3059-873a-999dd20ceded",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "LogAttribute",
                    "comments": "",
                    "instanceIdentifier": "5da589db-0193-1000-1379-c16cb3085c7f"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "f687a396-86f5-3cf8-8eda-c1cfd3109c00",
                "instanceIdentifier": "01931015-ee95-1e93-5af8-59a6761c3e43",
                "name": "",
                "source": {
                    "id": "50eed8e4-931d-3679-8c59-69c7ec235fa9",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Add Attribute: tablename",
                    "comments": "",
                    "instanceIdentifier": "5e5f4bd6-0193-1000-fe31-7d838429d504"
                },
                "destination": {
                    "id": "c45aa4ad-32ed-3156-b27b-1e33c82ac38d",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Route: Airlines",
                    "comments": "",
                    "instanceIdentifier": "01931000-ee95-1e93-685c-50dfe661bcab"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "57410584-cbb4-3eea-b264-f08dca7a6a5f",
                "instanceIdentifier": "5db4e05d-0193-1000-538b-0c715e756fb5",
                "name": "",
                "source": {
                    "id": "d1e7eece-1982-3dcd-b1a3-2844ba2bbffd",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "List airline.dat file",
                    "comments": "",
                    "instanceIdentifier": "9a967a12-dabd-3a01-82be-e74df1271e34"
                },
                "destination": {
                    "id": "9fa795cf-cb88-36e8-895a-5663f03cdddc",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Fetch airlines.dat file content",
                    "comments": "",
                    "instanceIdentifier": "5db498aa-0193-1000-78de-795fcf99105f"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "54b2dde1-83a8-3bb4-a4f6-4b59f34b605f",
                "instanceIdentifier": "0193102d-ee95-1e93-953e-9584c7ebfd2b",
                "name": "",
                "source": {
                    "id": "fd18f267-d27b-3bd0-a615-a2d2319b018c",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Fix: iata",
                    "comments": "",
                    "instanceIdentifier": "01931023-ee95-1e93-be15-a2fbbce005ec"
                },
                "destination": {
                    "id": "49b06c8d-7967-3bb9-a98a-4fcf02a50829",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Fix: callsign",
                    "comments": "",
                    "instanceIdentifier": "0193102b-ee95-1e93-0569-8fe861580d8a"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "15683ad8-fc9a-3fcc-b892-4365d656f2d9",
                "instanceIdentifier": "01931016-ee95-1e93-38e5-acc23b4a2c11",
                "name": "",
                "source": {
                    "id": "c45aa4ad-32ed-3156-b27b-1e33c82ac38d",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "Route: Airlines",
                    "comments": "",
                    "instanceIdentifier": "01931000-ee95-1e93-685c-50dfe661bcab"
                },
                "destination": {
                    "id": "57a8f76a-86d8-3c0f-9a1a-2e031fbdbc11",
                    "type": "PROCESSOR",
                    "groupId": "e2167e7c-ae4e-34be-a336-4ef40195464c",
                    "name": "RouteOnAttribute",
                    "comments": "",
                    "instanceIdentifier": "5e93ee95-0193-1000-6c79-7f23b45f2cd1"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "unmatched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "1694f895-539d-331d-8dee-6ad5b87539dc",
                "instanceIdentifier": "5e2d16a1-0193-1000-cdbc-71539be372bb",
                "name": "NewJsonRecordSetWriter",
                "comments": "",
                "type": "org.apache.nifi.json.JsonRecordSetWriter",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "schema-branch": null,
                    "Allow Scientific Notation": "true",
                    "compression-level": "1",
                    "schema-cache": null,
                    "Timestamp Format": null,
                    "Date Format": null,
                    "Pretty Print JSON": "false",
                    "compression-format": "none",
                    "Schema Write Strategy": "no-schema",
                    "suppress-nulls": "never-suppress",
                    "output-grouping": "output-array",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "Time Format": null,
                    "schema-access-strategy": "inherit-record-schema",
                    "schema-protocol-version": "1",
                    "schema-version": null,
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Allow Scientific Notation": {
                        "name": "Allow Scientific Notation",
                        "displayName": "Allow Scientific Notation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-level": {
                        "name": "compression-level",
                        "displayName": "Compression Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-cache": {
                        "name": "schema-cache",
                        "displayName": "Schema Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Pretty Print JSON": {
                        "name": "Pretty Print JSON",
                        "displayName": "Pretty Print JSON",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "compression-format": {
                        "name": "compression-format",
                        "displayName": "Compression Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Schema Write Strategy": {
                        "name": "Schema Write Strategy",
                        "displayName": "Schema Write Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "suppress-nulls": {
                        "name": "suppress-nulls",
                        "displayName": "Suppress Null Values",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "output-grouping": {
                        "name": "output-grouping",
                        "displayName": "Output Grouping",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-protocol-version": {
                        "name": "schema-protocol-version",
                        "displayName": "Schema Protocol Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "b9f2d7d3-8438-3bfc-a7ca-24569c5dd675",
                "instanceIdentifier": "7a42c106-80c7-3cb8-ddaf-40efffb3e010",
                "name": "DBCPConnectionPool",
                "comments": "",
                "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-dbcp-service-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "dbcp-min-idle-conns": "0",
                    "Max Wait Time": "500 millis",
                    "Database Driver Class Name": "com.mysql.cj.jdbc.Driver",
                    "dbcp-min-evictable-idle-time": "30 mins",
                    "kerberos-principal": null,
                    "Max Total Connections": "8",
                    "kerberos-credentials-service": null,
                    "dbcp-max-conn-lifetime": "-1",
                    "Validation-query": null,
                    "Database Connection URL": "jdbc:mysql://mysql:3306/bihw?useSSL=false",
                    "dbcp-time-between-eviction-runs": "-1",
                    "Database User": "root",
                    "kerberos-user-service": null,
                    "dbcp-soft-min-evictable-idle-time": "-1",
                    "database-driver-locations": null,
                    "dbcp-max-idle-conns": "8"
                },
                "propertyDescriptors": {
                    "kerberos-password": {
                        "name": "kerberos-password",
                        "displayName": "Kerberos Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "dbcp-min-idle-conns": {
                        "name": "dbcp-min-idle-conns",
                        "displayName": "Minimum Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Wait Time": {
                        "name": "Max Wait Time",
                        "displayName": "Max Wait Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Database Driver Class Name": {
                        "name": "Database Driver Class Name",
                        "displayName": "Database Driver Class Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-min-evictable-idle-time": {
                        "name": "dbcp-min-evictable-idle-time",
                        "displayName": "Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-principal": {
                        "name": "kerberos-principal",
                        "displayName": "Kerberos Principal",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Total Connections": {
                        "name": "Max Total Connections",
                        "displayName": "Max Total Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-credentials-service": {
                        "name": "kerberos-credentials-service",
                        "displayName": "Kerberos Credentials Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "dbcp-max-conn-lifetime": {
                        "name": "dbcp-max-conn-lifetime",
                        "displayName": "Max Connection Lifetime",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Validation-query": {
                        "name": "Validation-query",
                        "displayName": "Validation query",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Database Connection URL": {
                        "name": "Database Connection URL",
                        "displayName": "Database Connection URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "dbcp-time-between-eviction-runs": {
                        "name": "dbcp-time-between-eviction-runs",
                        "displayName": "Time Between Eviction Runs",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Database User": {
                        "name": "Database User",
                        "displayName": "Database User",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "kerberos-user-service": {
                        "name": "kerberos-user-service",
                        "displayName": "Kerberos User Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "dbcp-soft-min-evictable-idle-time": {
                        "name": "dbcp-soft-min-evictable-idle-time",
                        "displayName": "Soft Minimum Evictable Idle Time",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "database-driver-locations": {
                        "name": "database-driver-locations",
                        "displayName": "Database Driver Location(s)",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "resourceDefinition": {
                            "cardinality": "MULTIPLE",
                            "resourceTypes": [
                                "DIRECTORY",
                                "URL",
                                "FILE"
                            ]
                        }
                    },
                    "dbcp-max-idle-conns": {
                        "name": "dbcp-max-idle-conns",
                        "displayName": "Max Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Password": {
                        "name": "Password",
                        "displayName": "Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.dbcp.DBCPService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "47acd387-ef9f-32aa-b773-1eccfc818c8d",
                "instanceIdentifier": "5e310d2d-0193-1000-52d0-9b6c5c04db9d",
                "name": "DBJsonTreeReader",
                "comments": "",
                "type": "org.apache.nifi.json.JsonTreeReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "schema-branch": null,
                    "Max String Length": "20 MB",
                    "schema-application-strategy": "SELECTED_PART",
                    "Timestamp Format": null,
                    "schema-inference-cache": null,
                    "Date Format": null,
                    "schema-name": "${schema.name}",
                    "starting-field-strategy": "ROOT_NODE",
                    "schema-registry": null,
                    "starting-field-name": null,
                    "Time Format": null,
                    "schema-access-strategy": "infer-schema",
                    "schema-version": null,
                    "schema-text": "${avro.schema}",
                    "Allow Comments": "false"
                },
                "propertyDescriptors": {
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-application-strategy": {
                        "name": "schema-application-strategy",
                        "displayName": "Schema Application Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-inference-cache": {
                        "name": "schema-inference-cache",
                        "displayName": "Schema Inference Cache",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "starting-field-strategy": {
                        "name": "starting-field-strategy",
                        "displayName": "Starting Field Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "starting-field-name": {
                        "name": "starting-field-name",
                        "displayName": "Starting Field Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Allow Comments": {
                        "name": "Allow Comments",
                        "displayName": "Allow Comments",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            },
            {
                "identifier": "a6acd82d-7e98-358c-929e-3bcc623873ec",
                "instanceIdentifier": "5e2cd076-0193-1000-c9c7-84835ded6e03",
                "name": "NewCSVReader",
                "comments": "",
                "type": "org.apache.nifi.csv.CSVReader",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-record-serialization-services-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "ignore-csv-header": "false",
                    "schema-branch": null,
                    "Trim double quote": "true",
                    "CSV Format": "custom",
                    "Quote Character": "\"",
                    "csvutils-allow-duplicate-header-names": "true",
                    "Value Separator": ",",
                    "Record Separator": "\\n",
                    "Timestamp Format": null,
                    "Escape Character": "\\",
                    "Date Format": null,
                    "Null String": "\\\\N",
                    "Skip Header Line": "true",
                    "Trim Fields": "true",
                    "schema-name": "${schema.name}",
                    "schema-registry": null,
                    "csv-reader-csv-parser": "commons-csv",
                    "Time Format": null,
                    "Comment Marker": null,
                    "schema-access-strategy": "csv-header-derived",
                    "schema-version": null,
                    "csvutils-character-set": "UTF-8",
                    "schema-text": "${avro.schema}"
                },
                "propertyDescriptors": {
                    "ignore-csv-header": {
                        "name": "ignore-csv-header",
                        "displayName": "Ignore CSV Header Column Names",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-branch": {
                        "name": "schema-branch",
                        "displayName": "Schema Branch",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Trim double quote": {
                        "name": "Trim double quote",
                        "displayName": "Trim double quote",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "CSV Format": {
                        "name": "CSV Format",
                        "displayName": "CSV Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Quote Character": {
                        "name": "Quote Character",
                        "displayName": "Quote Character",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "csvutils-allow-duplicate-header-names": {
                        "name": "csvutils-allow-duplicate-header-names",
                        "displayName": "Allow Duplicate Header Names",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Value Separator": {
                        "name": "Value Separator",
                        "displayName": "Value Separator",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Record Separator": {
                        "name": "Record Separator",
                        "displayName": "Record Separator",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Timestamp Format": {
                        "name": "Timestamp Format",
                        "displayName": "Timestamp Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Escape Character": {
                        "name": "Escape Character",
                        "displayName": "Escape Character",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Date Format": {
                        "name": "Date Format",
                        "displayName": "Date Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null String": {
                        "name": "Null String",
                        "displayName": "Null String",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Skip Header Line": {
                        "name": "Skip Header Line",
                        "displayName": "Treat First Line as Header",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Trim Fields": {
                        "name": "Trim Fields",
                        "displayName": "Trim Fields",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-name": {
                        "name": "schema-name",
                        "displayName": "Schema Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-registry": {
                        "name": "schema-registry",
                        "displayName": "Schema Registry",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "csv-reader-csv-parser": {
                        "name": "csv-reader-csv-parser",
                        "displayName": "CSV Parser",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Time Format": {
                        "name": "Time Format",
                        "displayName": "Time Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Comment Marker": {
                        "name": "Comment Marker",
                        "displayName": "Comment Marker",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-access-strategy": {
                        "name": "schema-access-strategy",
                        "displayName": "Schema Access Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-version": {
                        "name": "schema-version",
                        "displayName": "Schema Version",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "csvutils-character-set": {
                        "name": "csvutils-character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "schema-text": {
                        "name": "schema-text",
                        "displayName": "Schema Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.serialization.RecordReaderFactory",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "1.28.1"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "e2167e7c-ae4e-34be-a336-4ef40195464c"
            }
        ],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}