nifi/process_groups/OpenWeatherApi.json
{
    "flowContents": {
        "identifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
        "instanceIdentifier": "6529a625-0193-1000-a1ba-7d49928c6789",
        "name": "OpenWeatherApi",
        "comments": "",
        "position": {
            "x": 941.0,
            "y": 308.0
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "c4b4b437-eb00-389c-a0e2-63ac71de3ae0",
                "instanceIdentifier": "65429fb9-0193-1000-569b-a234bd40ff9b",
                "name": "Call API",
                "comments": "",
                "position": {
                    "x": 1704.0,
                    "y": -976.0
                },
                "type": "org.apache.nifi.processors.standard.InvokeHTTP",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Proxy Host": null,
                    "Attributes to Send": null,
                    "use-etag": "false",
                    "proxy-configuration-service": null,
                    "Proxy Type": "http",
                    "cookie-strategy": "DISABLED",
                    "Connection Timeout": "5 secs",
                    "send-message-body": "true",
                    "set-form-filename": "true",
                    "Always Output Response": "false",
                    "etag-max-cache-size": "10MB",
                    "Content-Encoding": "DISABLED",
                    "disable-http2": "False",
                    "idle-timeout": "5 mins",
                    "Put Response Body In Attribute": null,
                    "Use Chunked Encoding": "false",
                    "Follow Redirects": "True",
                    "Remote URL": "http://api.openweathermap.org/data/2.5/forecast?lat=${lat}&lon=${lon}&units=metric&appid=10ba18884b2b76feb4fdc4a41456eb53",
                    "form-body-form-name": null,
                    "Content-Type": "${mime.type}",
                    "flow-file-naming-strategy": "RANDOM",
                    "max-idle-connections": "5",
                    "invokehttp-proxy-user": null,
                    "Read Timeout": "15 secs",
                    "Socket Write Timeout": "15 secs",
                    "Max Length To Put In Attribute": "256",
                    "ignore-response-content": "false",
                    "Proxy Port": null,
                    "SSL Context Service": null,
                    "Digest Authentication": "false",
                    "HTTP Method": "GET",
                    "Add Response Headers to Request": "false",
                    "oauth2-access-token-provider": null,
                    "Basic Authentication Username": null,
                    "Include Date Header": "True",
                    "Penalize on \"No Retry\"": "false",
                    "Useragent": null
                },
                "propertyDescriptors": {
                    "Proxy Host": {
                        "name": "Proxy Host",
                        "displayName": "Proxy Host",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Attributes to Send": {
                        "name": "Attributes to Send",
                        "displayName": "Request Header Attributes Pattern",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "use-etag": {
                        "name": "use-etag",
                        "displayName": "Response Cache Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "proxy-configuration-service": {
                        "name": "proxy-configuration-service",
                        "displayName": "Proxy Configuration Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Proxy Type": {
                        "name": "Proxy Type",
                        "displayName": "Proxy Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Basic Authentication Password": {
                        "name": "Basic Authentication Password",
                        "displayName": "Request Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "cookie-strategy": {
                        "name": "cookie-strategy",
                        "displayName": "Response Cookie Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Connection Timeout": {
                        "name": "Connection Timeout",
                        "displayName": "Socket Connect Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "send-message-body": {
                        "name": "send-message-body",
                        "displayName": "Request Body Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "set-form-filename": {
                        "name": "set-form-filename",
                        "displayName": "Request Multipart Form-Data Filename Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Always Output Response": {
                        "name": "Always Output Response",
                        "displayName": "Response Generation Required",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "etag-max-cache-size": {
                        "name": "etag-max-cache-size",
                        "displayName": "Response Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Encoding": {
                        "name": "Content-Encoding",
                        "displayName": "Request Content-Encoding",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "disable-http2": {
                        "name": "disable-http2",
                        "displayName": "HTTP/2 Disabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "idle-timeout": {
                        "name": "idle-timeout",
                        "displayName": "Socket Idle Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Put Response Body In Attribute": {
                        "name": "Put Response Body In Attribute",
                        "displayName": "Response Body Attribute Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Use Chunked Encoding": {
                        "name": "Use Chunked Encoding",
                        "displayName": "Request Chunked Transfer-Encoding Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Follow Redirects": {
                        "name": "Follow Redirects",
                        "displayName": "Response Redirects Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Remote URL": {
                        "name": "Remote URL",
                        "displayName": "HTTP URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "form-body-form-name": {
                        "name": "form-body-form-name",
                        "displayName": "Request Multipart Form-Data Name",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Content-Type": {
                        "name": "Content-Type",
                        "displayName": "Request Content-Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "flow-file-naming-strategy": {
                        "name": "flow-file-naming-strategy",
                        "displayName": "Response FlowFile Naming Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "max-idle-connections": {
                        "name": "max-idle-connections",
                        "displayName": "Socket Idle Connections",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-user": {
                        "name": "invokehttp-proxy-user",
                        "displayName": "Proxy Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Read Timeout": {
                        "name": "Read Timeout",
                        "displayName": "Socket Read Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Socket Write Timeout": {
                        "name": "Socket Write Timeout",
                        "displayName": "Socket Write Timeout",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max Length To Put In Attribute": {
                        "name": "Max Length To Put In Attribute",
                        "displayName": "Response Body Attribute Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "invokehttp-proxy-password": {
                        "name": "invokehttp-proxy-password",
                        "displayName": "Proxy Password",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "ignore-response-content": {
                        "name": "ignore-response-content",
                        "displayName": "Response Body Ignored",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Proxy Port": {
                        "name": "Proxy Port",
                        "displayName": "Proxy Port",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "SSL Context Service": {
                        "name": "SSL Context Service",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Digest Authentication": {
                        "name": "Digest Authentication",
                        "displayName": "Request Digest Authentication Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "HTTP Method": {
                        "name": "HTTP Method",
                        "displayName": "HTTP Method",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Add Response Headers to Request": {
                        "name": "Add Response Headers to Request",
                        "displayName": "Response Header Request Attributes Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "oauth2-access-token-provider": {
                        "name": "oauth2-access-token-provider",
                        "displayName": "Request OAuth2 Access Token Provider",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "Basic Authentication Username": {
                        "name": "Basic Authentication Username",
                        "displayName": "Request Username",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Include Date Header": {
                        "name": "Include Date Header",
                        "displayName": "Request Date Header Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Penalize on \"No Retry\"": {
                        "name": "Penalize on \"No Retry\"",
                        "displayName": "Request Failure Penalization Enabled",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Useragent": {
                        "name": "Useragent",
                        "displayName": "Request User-Agent",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "No Retry",
                    "Retry",
                    "Original",
                    "Failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "30e13f18-92eb-3d40-9aa7-4b22f1c45e15",
                "instanceIdentifier": "cb4cdd74-5b0c-3368-1c98-edbefb0a2248",
                "name": "LogMessage",
                "comments": "",
                "position": {
                    "x": 1448.0,
                    "y": 512.0
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "log-message": null,
                    "log-level": "info",
                    "log-prefix": null
                },
                "propertyDescriptors": {
                    "log-message": {
                        "name": "log-message",
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "log-level": {
                        "name": "log-level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "log-prefix": {
                        "name": "log-prefix",
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "a27a91c5-108e-35d9-ad7d-f7924dc9a3b7",
                "instanceIdentifier": "36f0a5a2-4c32-37b4-2f40-d0f8295cee65",
                "name": "Json -> Line protocol",
                "comments": "",
                "position": {
                    "x": 1704.0,
                    "y": 24.0
                },
                "type": "org.apache.nifi.processors.standard.ReplaceText",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Regular Expression": ".*",
                    "Replacement Value": "weather,latitude=${latitude},longitude=${longitude},city=${city:replaceAll(\" \", \"_\")} feels_like=${feels_like},humidity=${humidity},pressure=${pressure},sea_level=${sea_level},temp=${temp},temp_max=${temp_max},temp_min=${temp_min},wind_deg=${wind_deg},wind_speed=${wind_speed} ${datetime}",
                    "Evaluation Mode": "Line-by-Line",
                    "Text to Prepend": null,
                    "Line-by-Line Evaluation Mode": "All",
                    "Character Set": "UTF-8",
                    "Maximum Buffer Size": "1 MB",
                    "Replacement Strategy": "Regex Replace",
                    "Text to Append": null
                },
                "propertyDescriptors": {
                    "Regular Expression": {
                        "name": "Regular Expression",
                        "displayName": "Search Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Replacement Value": {
                        "name": "Replacement Value",
                        "displayName": "Replacement Value",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Evaluation Mode": {
                        "name": "Evaluation Mode",
                        "displayName": "Evaluation Mode",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Text to Prepend": {
                        "name": "Text to Prepend",
                        "displayName": "Text to Prepend",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Line-by-Line Evaluation Mode": {
                        "name": "Line-by-Line Evaluation Mode",
                        "displayName": "Line-by-Line Evaluation Mode",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Maximum Buffer Size": {
                        "name": "Maximum Buffer Size",
                        "displayName": "Maximum Buffer Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Replacement Strategy": {
                        "name": "Replacement Strategy",
                        "displayName": "Replacement Strategy",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Text to Append": {
                        "name": "Text to Append",
                        "displayName": "Text to Append",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "412f173a-6f45-3a11-bef9-3967d431c517",
                "instanceIdentifier": "811ce681-004f-3107-277b-29279ef96cfb",
                "name": "LogMessage",
                "comments": "",
                "position": {
                    "x": 1952.0,
                    "y": 504.0
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "log-message": null,
                    "log-level": "info",
                    "log-prefix": null
                },
                "propertyDescriptors": {
                    "log-message": {
                        "name": "log-message",
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "log-level": {
                        "name": "log-level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "log-prefix": {
                        "name": "log-prefix",
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "780cecfa-dfdb-31e4-8605-260ee928e782",
                "instanceIdentifier": "bb40124e-dfd9-352f-4bbe-8a34b31408f8",
                "name": "Attributes: metrics",
                "comments": "",
                "position": {
                    "x": 1702.828857421875,
                    "y": -232.0
                },
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "temp": "$.main.temp",
                    "Max String Length": "20 MB",
                    "Return Type": "auto-detect",
                    "Null Value Representation": "empty string",
                    "pressure": "$.main.pressure",
                    "temp_max": "$.main.temp_max",
                    "feels_like": "$.main.feels_like",
                    "Path Not Found Behavior": "ignore",
                    "temp_min": "$.main.temp_min",
                    "wind_deg": "$.wind.deg",
                    "datetime": "$.dt",
                    "humidity": "$.main.humidity",
                    "wind_speed": "$.wind.speed",
                    "sea_level": "$.main.sea_level"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "name": "Destination",
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "temp": {
                        "name": "temp",
                        "displayName": "temp",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Return Type": {
                        "name": "Return Type",
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "pressure": {
                        "name": "pressure",
                        "displayName": "pressure",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "temp_max": {
                        "name": "temp_max",
                        "displayName": "temp_max",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "feels_like": {
                        "name": "feels_like",
                        "displayName": "feels_like",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "name": "Path Not Found Behavior",
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "temp_min": {
                        "name": "temp_min",
                        "displayName": "temp_min",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "wind_deg": {
                        "name": "wind_deg",
                        "displayName": "wind_deg",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "datetime": {
                        "name": "datetime",
                        "displayName": "datetime",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "humidity": {
                        "name": "humidity",
                        "displayName": "humidity",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "wind_speed": {
                        "name": "wind_speed",
                        "displayName": "wind_speed",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "sea_level": {
                        "name": "sea_level",
                        "displayName": "sea_level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "27c3cd0a-97b7-3ba1-9218-49da681466b6",
                "instanceIdentifier": "653b3597-0193-1000-09a8-bfa08cec0f01",
                "name": "Split pairs from list",
                "comments": "",
                "position": {
                    "x": 1704.0,
                    "y": -1456.0
                },
                "type": "org.apache.nifi.processors.standard.SplitJson",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Max String Length": "20 MB",
                    "Null Value Representation": "empty string",
                    "JsonPath Expression": "$.coords.[*]"
                },
                "propertyDescriptors": {
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "JsonPath Expression": {
                        "name": "JsonPath Expression",
                        "displayName": "JsonPath Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original",
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "eefe5f64-fb4d-3b22-a45b-35be31277a74",
                "instanceIdentifier": "7b67d2b6-3740-3ff1-7d56-f7385ab13247",
                "name": "Insert data to InfluxDB",
                "comments": "",
                "position": {
                    "x": 1712.0,
                    "y": 288.0
                },
                "type": "org.influxdata.nifi.processors.PutInfluxDatabase_2",
                "bundle": {
                    "group": "org.influxdata.nifi",
                    "artifact": "nifi-influx-database-nar",
                    "version": "1.30.0"
                },
                "properties": {
                    "influxdb-charset": "UTF-8",
                    "influxdb-service": "d0f64019-6dbf-3f2d-a7a4-6221089a86f0",
                    "influxdb-write-precision": "S",
                    "influxdb-log-level": "NONE",
                    "influxdb-enable-gzip": "false",
                    "influxdb-org": "bihw",
                    "influxdb-bucket": "bihwb",
                    "influxdb-max-records-size": "256 MB"
                },
                "propertyDescriptors": {
                    "influxdb-charset": {
                        "name": "influxdb-charset",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "influxdb-service": {
                        "name": "influxdb-service",
                        "displayName": "InfluxDB Controller Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "influxdb-write-precision": {
                        "name": "influxdb-write-precision",
                        "displayName": "Timestamp precision",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "influxdb-log-level": {
                        "name": "influxdb-log-level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "influxdb-enable-gzip": {
                        "name": "influxdb-enable-gzip",
                        "displayName": "Enable gzip compression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "influxdb-org": {
                        "name": "influxdb-org",
                        "displayName": "Organization",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "influxdb-bucket": {
                        "name": "influxdb-bucket",
                        "displayName": "Bucket",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "influxdb-max-records-size": {
                        "name": "influxdb-max-records-size",
                        "displayName": "Max size of records",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "dcd53f6c-8a0b-3b27-8dc9-08c5aea3d237",
                "instanceIdentifier": "b45d9c56-72f9-3933-e553-6529135a0666",
                "name": "LogMessage",
                "comments": "",
                "position": {
                    "x": 2536.0,
                    "y": -336.0
                },
                "type": "org.apache.nifi.processors.standard.LogMessage",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "log-message": null,
                    "log-level": "info",
                    "log-prefix": null
                },
                "propertyDescriptors": {
                    "log-message": {
                        "name": "log-message",
                        "displayName": "Log message",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "log-level": {
                        "name": "log-level",
                        "displayName": "Log Level",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "log-prefix": {
                        "name": "log-prefix",
                        "displayName": "Log prefix",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "d523317f-fce1-3891-87dd-339eea4f31b9",
                "instanceIdentifier": "653bd9a9-0193-1000-0e24-b2148619e235",
                "name": "Attribute: lat & lon",
                "comments": "",
                "position": {
                    "x": 1704.0,
                    "y": -1224.0
                },
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Max String Length": "20 MB",
                    "Return Type": "auto-detect",
                    "Null Value Representation": "empty string",
                    "lon": "$.lon",
                    "lat": "$.lat",
                    "Path Not Found Behavior": "ignore"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "name": "Destination",
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Return Type": {
                        "name": "Return Type",
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "lon": {
                        "name": "lon",
                        "displayName": "lon",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "lat": {
                        "name": "lat",
                        "displayName": "lat",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "name": "Path Not Found Behavior",
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "fdb81092-3455-3a33-a1cc-3c34f0e0b060",
                "instanceIdentifier": "d1f8abc4-a663-3a08-c77b-766e493c2a94",
                "name": "Attribute: City, Lat, Lon",
                "comments": "",
                "position": {
                    "x": 1702.828857421875,
                    "y": -704.0
                },
                "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Destination": "flowfile-attribute",
                    "Max String Length": "20 MB",
                    "city": "$.city.name",
                    "Return Type": "auto-detect",
                    "latitude": "$.city.coord.lat",
                    "Null Value Representation": "empty string",
                    "Path Not Found Behavior": "ignore",
                    "longitude": "$.city.coord.lon"
                },
                "propertyDescriptors": {
                    "Destination": {
                        "name": "Destination",
                        "displayName": "Destination",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "city": {
                        "name": "city",
                        "displayName": "city",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Return Type": {
                        "name": "Return Type",
                        "displayName": "Return Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "latitude": {
                        "name": "latitude",
                        "displayName": "latitude",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Path Not Found Behavior": {
                        "name": "Path Not Found Behavior",
                        "displayName": "Path Not Found Behavior",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "longitude": {
                        "name": "longitude",
                        "displayName": "longitude",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "unmatched"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "d2587417-3347-3787-8175-8d55d35c1a8a",
                "instanceIdentifier": "257746cd-8155-3e9a-02fc-f431ae65a978",
                "name": "Get list items",
                "comments": "",
                "position": {
                    "x": 1710.828857421875,
                    "y": -480.0
                },
                "type": "org.apache.nifi.processors.standard.SplitJson",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "Max String Length": "20 MB",
                    "Null Value Representation": "empty string",
                    "JsonPath Expression": "$.list[*]"
                },
                "propertyDescriptors": {
                    "Max String Length": {
                        "name": "Max String Length",
                        "displayName": "Max String Length",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Null Value Representation": {
                        "name": "Null Value Representation",
                        "displayName": "Null Value Representation",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "JsonPath Expression": {
                        "name": "JsonPath Expression",
                        "displayName": "JsonPath Expression",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "original"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "16a9f052-abb8-303e-9272-1a269d5a06da",
                "instanceIdentifier": "6539106b-0193-1000-380c-e88632712851",
                "name": "Data: lat & lon pairs",
                "comments": "",
                "position": {
                    "x": 1704.0,
                    "y": -1656.0
                },
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "1.28.1"
                },
                "properties": {
                    "character-set": "UTF-8",
                    "File Size": "0B",
                    "mime-type": null,
                    "generate-ff-custom-text": "{\n    \"coords\": [\n        {\n            \"lat\": \"51.6116981506\",\n            \"lon\": \"-0.8083329796790001\"\n        },\n        {\n            \"lat\": \"-6.081689834590001\",\n            \"lon\": \"145.391998291\"\n        },\n        {\n            \"lat\": \"61.1604995728\",\n            \"lon\": \"-45.4259986877\"\n        },\n        {\n            \"lat\": \"68.534401\",\n            \"lon\": \"-89.808098\"\n        },\n        {\n            \"lat\": \"-5.20707988739\",\n            \"lon\": \"145.789001465\"\n        },\n        {\n            \"lat\": \"-5.076389789581299\",\n            \"lon\": \"32.83330154418945\"\n        },\n        {\n            \"lat\": \"-0.3644140064716339\",\n            \"lon\": \"36.978485107421875\"\n        },\n        {\n            \"lat\": \"-34.53139877319336\",\n            \"lon\": \"144.8300018310547\"\n        },\n        {\n            \"lat\": \"25.737499237061\",\n            \"lon\": \"101.88200378418\"\n        },\n        {\n            \"lat\": \"45.78559875488281\",\n            \"lon\": \"24.091299057006836\"\n        }\n    ]\n}",
                    "Batch Size": "1",
                    "Unique FlowFiles": "false",
                    "Data Format": "Text"
                },
                "propertyDescriptors": {
                    "character-set": {
                        "name": "character-set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "File Size": {
                        "name": "File Size",
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "mime-type": {
                        "name": "mime-type",
                        "displayName": "Mime Type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "generate-ff-custom-text": {
                        "name": "generate-ff-custom-text",
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Unique FlowFiles": {
                        "name": "Unique FlowFiles",
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "Data Format": {
                        "name": "Data Format",
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "style": {},
                "schedulingPeriod": "1 min",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "51acd51e-70e5-32eb-ac36-7b7863193111",
                "instanceIdentifier": "6542c0fc-0193-1000-25b9-6e597b3306e3",
                "name": "",
                "source": {
                    "id": "d523317f-fce1-3891-87dd-339eea4f31b9",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Attribute: lat & lon",
                    "comments": "",
                    "instanceIdentifier": "653bd9a9-0193-1000-0e24-b2148619e235"
                },
                "destination": {
                    "id": "c4b4b437-eb00-389c-a0e2-63ac71de3ae0",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Call API",
                    "comments": "",
                    "instanceIdentifier": "65429fb9-0193-1000-569b-a234bd40ff9b"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "38016113-5487-3817-8264-6fc403c65c50",
                "instanceIdentifier": "654351ab-0193-1000-41d4-85d9a8ef743e",
                "name": "",
                "source": {
                    "id": "c4b4b437-eb00-389c-a0e2-63ac71de3ae0",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Call API",
                    "comments": "",
                    "instanceIdentifier": "65429fb9-0193-1000-569b-a234bd40ff9b"
                },
                "destination": {
                    "id": "fdb81092-3455-3a33-a1cc-3c34f0e0b060",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Attribute: City, Lat, Lon",
                    "comments": "",
                    "instanceIdentifier": "d1f8abc4-a663-3a08-c77b-766e493c2a94"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "Response"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "25a8da7b-2c09-33cf-bebf-b2fdebe89f93",
                "instanceIdentifier": "c98ed937-61de-3c48-4566-bceb932769ca",
                "name": "",
                "source": {
                    "id": "fdb81092-3455-3a33-a1cc-3c34f0e0b060",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Attribute: City, Lat, Lon",
                    "comments": "",
                    "instanceIdentifier": "d1f8abc4-a663-3a08-c77b-766e493c2a94"
                },
                "destination": {
                    "id": "d2587417-3347-3787-8175-8d55d35c1a8a",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Get list items",
                    "comments": "",
                    "instanceIdentifier": "257746cd-8155-3e9a-02fc-f431ae65a978"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "2ee8874b-3bd0-3209-9553-1d6c110dc295",
                "instanceIdentifier": "e9449711-1c4b-3168-9a1b-5d19e8f1e2fc",
                "name": "",
                "source": {
                    "id": "eefe5f64-fb4d-3b22-a45b-35be31277a74",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Insert data to InfluxDB",
                    "comments": "",
                    "instanceIdentifier": "7b67d2b6-3740-3ff1-7d56-f7385ab13247"
                },
                "destination": {
                    "id": "412f173a-6f45-3a11-bef9-3967d431c517",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "LogMessage",
                    "comments": "",
                    "instanceIdentifier": "811ce681-004f-3107-277b-29279ef96cfb"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "d1c71b9e-ac08-3a63-9e24-9d8c24f1a22e",
                "instanceIdentifier": "653bec92-0193-1000-1056-e896a8e4040b",
                "name": "",
                "source": {
                    "id": "27c3cd0a-97b7-3ba1-9218-49da681466b6",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Split pairs from list",
                    "comments": "",
                    "instanceIdentifier": "653b3597-0193-1000-09a8-bfa08cec0f01"
                },
                "destination": {
                    "id": "d523317f-fce1-3891-87dd-339eea4f31b9",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Attribute: lat & lon",
                    "comments": "",
                    "instanceIdentifier": "653bd9a9-0193-1000-0e24-b2148619e235"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "split"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "4f2ad916-cedd-34f2-8766-5313fcfa2d98",
                "instanceIdentifier": "e6090574-3749-3c35-14c0-922bb247c1cf",
                "name": "",
                "source": {
                    "id": "a27a91c5-108e-35d9-ad7d-f7924dc9a3b7",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Json -> Line protocol",
                    "comments": "",
                    "instanceIdentifier": "36f0a5a2-4c32-37b4-2f40-d0f8295cee65"
                },
                "destination": {
                    "id": "eefe5f64-fb4d-3b22-a45b-35be31277a74",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Insert data to InfluxDB",
                    "comments": "",
                    "instanceIdentifier": "7b67d2b6-3740-3ff1-7d56-f7385ab13247"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "559badfb-909e-30a5-b591-c13184b3d935",
                "instanceIdentifier": "79bb957b-c4b2-37b1-e159-12f2d43e0b89",
                "name": "",
                "source": {
                    "id": "eefe5f64-fb4d-3b22-a45b-35be31277a74",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Insert data to InfluxDB",
                    "comments": "",
                    "instanceIdentifier": "7b67d2b6-3740-3ff1-7d56-f7385ab13247"
                },
                "destination": {
                    "id": "30e13f18-92eb-3d40-9aa7-4b22f1c45e15",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "LogMessage",
                    "comments": "",
                    "instanceIdentifier": "cb4cdd74-5b0c-3368-1c98-edbefb0a2248"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure-max-size",
                    "failure",
                    "retry"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "e99bd841-7a6d-3274-a8ea-e5cd402448b3",
                "instanceIdentifier": "653b4b1b-0193-1000-d504-97c2532c6dcf",
                "name": "",
                "source": {
                    "id": "16a9f052-abb8-303e-9272-1a269d5a06da",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Data: lat & lon pairs",
                    "comments": "",
                    "instanceIdentifier": "6539106b-0193-1000-380c-e88632712851"
                },
                "destination": {
                    "id": "27c3cd0a-97b7-3ba1-9218-49da681466b6",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Split pairs from list",
                    "comments": "",
                    "instanceIdentifier": "653b3597-0193-1000-09a8-bfa08cec0f01"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "b2c0b43e-9c37-3c97-99ad-567c50e98c7e",
                "instanceIdentifier": "79c05f7b-7c83-3908-bf97-6270f6aecdeb",
                "name": "",
                "source": {
                    "id": "a27a91c5-108e-35d9-ad7d-f7924dc9a3b7",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Json -> Line protocol",
                    "comments": "",
                    "instanceIdentifier": "36f0a5a2-4c32-37b4-2f40-d0f8295cee65"
                },
                "destination": {
                    "id": "dcd53f6c-8a0b-3b27-8dc9-08c5aea3d237",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "LogMessage",
                    "comments": "",
                    "instanceIdentifier": "b45d9c56-72f9-3933-e553-6529135a0666"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "4edba1b2-6b50-3f24-bb2a-00d27713bc8b",
                "instanceIdentifier": "6d9e0958-07b0-3051-fd94-aff49cc415ce",
                "name": "",
                "source": {
                    "id": "780cecfa-dfdb-31e4-8605-260ee928e782",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Attributes: metrics",
                    "comments": "",
                    "instanceIdentifier": "bb40124e-dfd9-352f-4bbe-8a34b31408f8"
                },
                "destination": {
                    "id": "a27a91c5-108e-35d9-ad7d-f7924dc9a3b7",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Json -> Line protocol",
                    "comments": "",
                    "instanceIdentifier": "36f0a5a2-4c32-37b4-2f40-d0f8295cee65"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "matched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "20418be5-2d0c-3e4d-a56b-e5d9d5e34e31",
                "instanceIdentifier": "6e6f7b38-d8b3-34a7-b6b2-e7595669acc7",
                "name": "",
                "source": {
                    "id": "d2587417-3347-3787-8175-8d55d35c1a8a",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Get list items",
                    "comments": "",
                    "instanceIdentifier": "257746cd-8155-3e9a-02fc-f431ae65a978"
                },
                "destination": {
                    "id": "780cecfa-dfdb-31e4-8605-260ee928e782",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Attributes: metrics",
                    "comments": "",
                    "instanceIdentifier": "bb40124e-dfd9-352f-4bbe-8a34b31408f8"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "split"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "687ca378-cb1b-3c75-90db-c5b82865d1ec",
                "instanceIdentifier": "59f10251-1cf1-35e9-d791-e0cbeca3c4dd",
                "name": "",
                "source": {
                    "id": "d2587417-3347-3787-8175-8d55d35c1a8a",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Get list items",
                    "comments": "",
                    "instanceIdentifier": "257746cd-8155-3e9a-02fc-f431ae65a978"
                },
                "destination": {
                    "id": "dcd53f6c-8a0b-3b27-8dc9-08c5aea3d237",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "LogMessage",
                    "comments": "",
                    "instanceIdentifier": "b45d9c56-72f9-3933-e553-6529135a0666"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "fb7585e1-a1b2-3db9-b7df-26fb0c34dfe8",
                "instanceIdentifier": "c0289b30-a4c0-3525-f768-16a661869945",
                "name": "",
                "source": {
                    "id": "fdb81092-3455-3a33-a1cc-3c34f0e0b060",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Attribute: City, Lat, Lon",
                    "comments": "",
                    "instanceIdentifier": "d1f8abc4-a663-3a08-c77b-766e493c2a94"
                },
                "destination": {
                    "id": "dcd53f6c-8a0b-3b27-8dc9-08c5aea3d237",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "LogMessage",
                    "comments": "",
                    "instanceIdentifier": "b45d9c56-72f9-3933-e553-6529135a0666"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            },
            {
                "identifier": "1214a659-e93b-3436-aee9-bcedeb66d7bb",
                "instanceIdentifier": "8aca1cdd-b70f-38b4-6871-9854803d38b0",
                "name": "",
                "source": {
                    "id": "780cecfa-dfdb-31e4-8605-260ee928e782",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "Attributes: metrics",
                    "comments": "",
                    "instanceIdentifier": "bb40124e-dfd9-352f-4bbe-8a34b31408f8"
                },
                "destination": {
                    "id": "dcd53f6c-8a0b-3b27-8dc9-08c5aea3d237",
                    "type": "PROCESSOR",
                    "groupId": "4b75cc68-fce0-3847-b316-9e88bd65c7c5",
                    "name": "LogMessage",
                    "comments": "",
                    "instanceIdentifier": "b45d9c56-72f9-3933-e553-6529135a0666"
                },
                "labelIndex": 1,
                "zIndex": 0,
                "selectedRelationships": [
                    "failure",
                    "unmatched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "d0f64019-6dbf-3f2d-a7a4-6221089a86f0",
                "instanceIdentifier": "fe5be3ac-08a0-3e25-363e-ec65b741decf",
                "name": "StandardInfluxDatabaseService_2",
                "comments": "",
                "type": "org.influxdata.nifi.services.StandardInfluxDatabaseService_2",
                "bundle": {
                    "group": "org.influxdata.nifi",
                    "artifact": "nifi-influx-database-nar",
                    "version": "1.30.0"
                },
                "properties": {
                    "influxdb-client-type": null,
                    "influxdb-url": "http://influxdb:8086",
                    "inluxdb-ssl": null,
                    "inluxdb-ssl-auth": "REQUIRED",
                    "influxdb-connection-timeout": "0 seconds"
                },
                "propertyDescriptors": {
                    "influxdb-client-type": {
                        "name": "influxdb-client-type",
                        "displayName": "InfluxDB Client type",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "influxdb-url": {
                        "name": "influxdb-url",
                        "displayName": "InfluxDB connection URL",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "inluxdb-ssl": {
                        "name": "inluxdb-ssl",
                        "displayName": "SSL Context Service",
                        "identifiesControllerService": true,
                        "sensitive": false
                    },
                    "inluxdb-ssl-auth": {
                        "name": "inluxdb-ssl-auth",
                        "displayName": "Client Auth",
                        "identifiesControllerService": false,
                        "sensitive": false
                    },
                    "influxdb-token": {
                        "name": "influxdb-token",
                        "displayName": "InfluxDB Access Token",
                        "identifiesControllerService": false,
                        "sensitive": true
                    },
                    "influxdb-connection-timeout": {
                        "name": "influxdb-connection-timeout",
                        "displayName": "InfluxDB Max Connection Time Out (seconds)",
                        "identifiesControllerService": false,
                        "sensitive": false
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.influxdata.nifi.services.InfluxDatabaseService_2",
                        "bundle": {
                            "group": "org.influxdata.nifi",
                            "artifact": "nifi-influx-database-nar",
                            "version": "1.30.0"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "4b75cc68-fce0-3847-b316-9e88bd65c7c5"
            }
        ],
        "variables": {},
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}